<h1>Create New Throne</h1>

<%= form_tag "thrones", method: :post do %>
  <div>
    Character: <input type="text" name="character">
  </div>
  <div>
    House: <input type="text" name="house">
  </div>